{% load static %}
<!DOCTYPE html>
<html lang="ru">
<!--tg: @Marpexiz-->
<!--https://github.com/kripersi-->
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}Каталог машин{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<div id="particles-js"></div>

<header>
    <div class="search-bar">
        <a href="{% url 'home' %}" class="btn-home" title="Домой">
            <i class="fa-solid fa-house"></i>
        </a>
        <form method="GET" action="{% url 'search_car' %}" class="search-form">
            <input type="text" name="q" placeholder="Поиск...">
            <button type="submit" class="btn-header">Поиск</button>
        </form>

        <nav class="header-buttons">
            {% if user.is_authenticated %}
            <a href="{% url 'account' %}" class="btn-header">Аккаунт</a>
            <a href="{% url 'add_car' %}" class="btn-header">Добавить</a>
            {% else %}
            <a href="{% url 'login' %}" class="btn-header">Войти</a>
            <a href="{% url 'register' %}" class="btn-header">Зарегистрироваться</a>
            {% endif %}
        </nav>
    </div>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script>
    particlesJS("particles-js", {
      "particles": {
        "number": { "value": 70, "density": { "enable": true, "value_area": 800 } },
        "color": { "value": "#CDAB81" },
        "shape": { "type": "polygon" },
        "opacity": { "value": 0.6 },
        "size": { "value": 3, "random": true },
        "line_linked": {
          "enable": true,
          "distance": 150,
          "color": "#DAC3B3",
          "opacity": 0.4,
          "width": 1
        },
        "move": {
          "enable": true,
          "speed": 1,
          "direction": "none",
          "out_mode": "out"
        }
      },
      "interactivity": {
        "events": {
          "onhover": { "enable": true, "mode": "grab" },
          "onclick": { "enable": true, "mode": "push" },
          "resize": true
        },
        "modes": {
          "grab": { "distance": 140, "line_linked": { "opacity": 1 } },
          "push": { "particles_nb": 4 }
        }
      },
      "retina_detect": true
    });
</script>
</body>
</html>
