{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ car.number_plate }} — Детали машины{% endblock %}

{% block content %}
<section class="photo-section">
  <h2 class="photo-title">Фотографии машины</h2>

  {% if car.photos.all %}
  <div class="photo-card">
    <div class="photo-gallery">
      <div class="photo-track">
        {% for photo in car.photos.all %}
          <img src="{{ photo.image.url }}" alt="Фото машины" class="gallery-photo">
        {% endfor %}
      </div>

      <div class="gallery-controls">
        <button class="gallery-btn prev-btn">‹</button>
        <button class="gallery-btn next-btn">›</button>
      </div>
    </div>
  </div>
  {% else %}
    <p class="no-photos">Фотографии отсутствуют.</p>
  {% endif %}
</section>


  <section class="info-section">
    <div class="info-card"><strong>Знак:</strong> {{ car.number_plate }}</div>
    <div class="info-card"><strong>Страна:</strong> {{ car.region }}</div>
    <div class="info-card"><strong>Владелец:</strong> {{ car.owner }}</div>
    <div class="info-card"><strong>Прошлые владельцы:</strong> {{ car.previous_owners|default:"—" }}</div>
    <div class="info-card"><strong>Описание машины:</strong> {{ car.description|default:"—" }}</div>
    <div class="info-card">
      <strong>Добавил:</strong> {{ car.added_by.username }}<br>
      <strong>Дата:</strong> {{ car.added_at|date:"d.m.Y H:i" }}
    </div>
  </section>

  <script src="{% static 'core/js/gallery.js' %}"></script>
{% endblock %}
